<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <log4net>
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="logData"/>
    </root>
    <!--********数据推送********-->
    <appender name="logData" type="log4net.Appender.RollingFileAppender">
      <!--日志的路径-->
      <file value="Logs/"/>
      <!--是否覆盖，默认是追加true-->
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <!--文件名称-->
      <param name="DatePattern" value="yyyy-MM-dd/&quot;log_GXSDService.txt&quot;"/>
      <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <!--设置无限备份=-1 ，最大备份数为1000-->
      <param name="MaxSizeRollBackups" value="-1"/>
      <!--每个文件的大小-->
      <param name="MaximumFileSize" value="6MB"/>
      <!--名称是否可以更改为false为可以更改-->
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date %level 线程编号[%thread] %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!--是否开启跑一天间隔  基础数据-->
    <add key="isRunDay" value="0"/>
    <!--是否开启跑一小时间隔  流程数据-->
    <add key="isRunHour" value="1"/>

    <!--开始跑的时间 小时 默认1-->
    <add key="startHour" value="1"/>
    <!--开始跑的时间 分钟 默认59-->
    <add key="startMinute" value="52"/>

    <!--查询条数-->
    <add key="limitNum" value="500"/>
    <add key="MySqlConnectionString" value="server=localhost;user id=sa; password=sa; database=ces; pooling=false; charset=utf8"/>
    <add key="MsSqlConnectionString" value="Data Source = myServerAddress;Initial Catalog = myDataBase;User Id = myUsername;Password = myPassword;"/>
  </appSettings>

  <connectionStrings>
    <add name="OracleConnectionString"
      connectionString="User ID=pwzhzf;Password=pwzhzf;Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>